a.btn,
button {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009900', endColorstr='#003300');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#009900', endColorstr='#003300')";
}

a.btn:hover,
a.btn:focus,
button:hover,
button:focus {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006600', endColorstr='#002200');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#006600', endColorstr='#002200')";
}
a.btn:active,
button:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#002200', endColorstr='#006600');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#002200', endColorstr='#006600')";
	color: #fff;
}
